*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: Source Sans Pro,sans-serif;
font-size: 25px;
caret-color: black;

}
body{
    display: grid;
    place-items: center;
    width: 100vw;
    background:#E7E0C9;
    height: 100vh;
}
header div{
display: flex;
align-items: center;
width: 70vw;
margin: auto;
justify-content: space-evenly;    
}
.btn{
    padding: 3px 13px ;
    border:none;
    outline:none;
    transition: .1s linear;
    border-radius: 7px;
    border:1px solid black;
   
}
.btn:hover{
    transform: scale(1.2);
    background-color: #CEE5D0;
    border:1px solid #A4C3F1;

}


table {
    border-collapse: collapse;
    border: 2px  solid #344861;
}
tbody{
    width: 100%;
    height: 100%;
}

table > tbody >tr> td > input{
    width: 60px;
    border-collapse: collapse;
    height: 60px;
    text-align: center;
}
td{
    width: 60px;
    height:60px;
    border-collapse: collapse;
    border:.2px solid #bec6d4;
}
tr{
    border:none;
}

input{
    border:none;
    outline: none;
}
.match{
    color:red;
}
.disable{
    background-color: #EDEFF1;
    color:#6B6F75;
}
.ipt:hover{
    background-color: #BBDEFB;
    border:1px solid #A4C3F1;


}

 tr:nth-child(3n){
    border-bottom: 2px  solid #344861;
}
td:nth-child(3n){

    border-right: 2px  solid #344861;  
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
p{
    font-weight: bold;
}
footer {
    display: flex;
width: 70vw;
justify-content: space-evenly;
align-items: center;
}

